<section class="container">
  <div class="card">
    <div class="card-header bg-light h4 text-primary">
      {{title}}
    </div>
    <span class="btn btn-info" role="button" (click)="close($event)" *ngIf="closeable">
          {{'close me'}}
    </span>
    <div class="d-flex flex-row align-items-center justify-content-between">
      <form class="ml-2 d-flex flex-row align-items-center">
        <div class="form-group my-2 mx-3 d-flex flex-row align-items-center">
          <label for="filtro" class="p-0 m-0">Filter:</label>
          <input type="text" class="form-control ml-2" id="filtro" name="filtro" placeholder="" [(ngModel)]="filterText">
        </div>
        <p class="ml-3">You are trying to filter for: {{filterText}} (but nothing works yet)</p>
      </form>
      <!--
      <form class="mr-2">
        Ordina per:
        <div class="form-check form-check-inline ml-2">
          <input class="form-check-input" type="radio" name="ordinamento" id="prezzo" value="prezzo">
          <label class="form-check-label" for="prezzo">Prezzo</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="ordinamento" id="voto" value="voto">
          <label class="form-check-label" for="voto">Voto</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="ordinamento" id="autore" value="autore" checked>
          <label class="form-check-label" for="autore">Autore</label>
        </div>
      </form>
      -->
    </div>
    <table class="table m-0" *ngIf="dogs && dogs.length > 0">
      <thead>
      <tr class="row bg-light m-0">
        <th scope="col" class="col-2">
          <span class="btn btn-info" role="button" (click)="togglePictures()">
          {{showPictures ? 'Too much for my eyes' : 'Show me those beauties'}}
          </span>
        </th>
        <th scope="col" class="col-2">Nickname</th>
        <th scope="col" class="col-2">Real Name</th>
        <th scope="col" class="col-2">Date of birth</th>
        <th scope="col" class="col-2">TopSecret Bank Account Number</th>
        <th scope="col" class="col-1">Net Worth</th>
        <th scope="col" class="col-1">Goodness rating</th>
      </tr>
      </thead>
      <tbody>
      <tr class="row m-0" *ngFor="let dog of dogs">
        <td class="col-2">
          <img [src]="dog.pictureUrl" alt="iambeautiful"
          [title]="dog.nickname" [style.width.px]="120" [style.margin.px]="2"
          *ngIf="showPictures">
        </td>
        <td class="col-2">{{dog.nickname}}</td>
        <td class="col-2">{{dog.realName}}</td>
        <td class="col-2">{{dog.dateOfBirth}}</td>
        <td class="col-2">{{dog.bankAccountNumber}}</td>
        <td class="col-1">{{dog.netWorth | currency : 'EUR' : 'symbol' : '1.2'}}</td>
        <!--<td class="col-1">{{dog.goodnessRating}}</td> -->
        <td class="col-1"><app-star-rating [rating]="dog.goodnessRating"
        (activated)="onStarRatingActivated($event, dog)"></app-star-rating></td>
      </tr>
    </table>
  </div>
</section>

